/Hardware/History/*
/Hardware/Project Logs for MAT_Dual028CCSeg2SW/*
/Hardware/Project Outputs for Free Documents/*
/Hardware/Project Outputs for ThermoStatMAT_Dual028CCSeg2SWtionV3/*
/Hardware/__Previews/*
/Hardware/MAT_Dual028CCSeg2SW.bak